Online Nodes: <%= inspect @online %>
<br/>
<br/>
Offline Nodes: <%= inspect @offline %>
<br/>
<br/>

<%= for node <- @online do %>
  <%= assigns[node] %>
  <%# <%= render "child_template.html", assigns %>

  <%# <%= live_component @socket, DashboardWeb.NodeComponent, node: node %>
<% end %>

<%= for node <- @offline do %>
  <%= assigns[node] %>
<% end %>