Online Nodes: <%= inspect @online %>
<br/>
<br/>
Offline Nodes: <%= inspect @offline %>
<br/>
<br/>

<%= for node <- @online do %>
  <%= live_component @socket, DashboardWeb.NodeComponent, node: node %>
<% end %>

<%= for node <- @offline do %>
  <%= live_component @socket, DashboardWeb.NodeComponent, node: node %>
<% end %>