Online Nodes: <%= inspect @online %>
<br/>
<br/>
Offline Nodes: <%= inspect @offline %>
<br/>
<br/>

<%= for node <- @online do %>
  <%= assigns[node] %>
<% end %>

<%= for node <- @offline do %>
  <%= assigns[node] %>
<% end %>